.navbar-sticky-on {
  position: relative;
}

section.banner {
  background-image: url("../../images/bg-page2.png");
  background-repeat: no-repeat;
  background-position: right top;
  padding: 55px 0;
}

section.sitemap {
  background-color: var(--white);
}

section.sitemap .nav-link {
  color: var(--purple);
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 22px;
}

section.sitemap .nav-link:hover {
  color: var(--dark);
}

section.sitemap .nav-link:focus {
  color: var(--dark);
}

/* Media */
@media (max-width: 450px) {
  section.banner {
    background-image: none;
  }
  section.sitemap .nav-link {
    color: var(--purple);
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
  }
}