section.banner {
  background-image: url("../../images/bg-page2.png");
  background-repeat: no-repeat;
  background-position: right top;
  padding: 55px 0;
}

section.sitemap {
  background-color: var(--white);
}

section.sitemap h4 {
  color: var(--purple);
  font-size: 24px;
}

section.sitemap ul li a {
  color: var(--secondary);
  font-size: 18px;
  line-height: 38px;
}

/* Media */
@media (max-width: 450px) {
  section.banner {
    background-image: none;
  }
}