section.banner {
  background-image: url("../../images/bg-home-left.png"), url("../../images/bg-home-right.png");
  background-color: var(--cinza-claro);
  background-repeat: no-repeat;
  background-position: left 50px, right 50px;
}

section.banner .card {
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  min-height: 181px;
  margin-right: 265px;
}

section.banner .card2 {
  border: 0;
  border-radius: 30px;
  background: var(--white);
  overflow: hidden;
  position: relative;
  flex-direction: column;
  display: flex;
  justify-content: center;
  padding: 10px 30px;
  min-height: 150px;
  margin-right: 205px;
}

section.banner .card h3 {
  font-size: 20px;
  color: var(--secundary);
}

section.image {
  background-color: var(--white);
}

section.image h2 {
  font-weight: normal;
  font-size: 40px;
}

section.video {
  background-image: url("../../images/bg-video.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

section.numeros .card {
  padding: 30px 60px;
  transition: all 0.3s;
}

section.numeros .card:hover {
  box-shadow: 0 0 0 4px rgba(155, 0, 119, 0.2);
  transition: all 0.3s;
}

section.numeros .card h2 {
  color: var(--purple);
}

section iframe{
  display: none;
  border-radius: 28px;
}

section.clientes {
  background-color: var(--white);
}

section.clientes .altura {
  padding: 100px 0;
}

section.clientes .card.bg {
  border: 1px solid #BDBDBD;
}

section.clientes a img {
  transition: all 0.3s;
}

section.clientes a img:hover {
  margin-top: -10px;
  transition: all 0.3s;
}

section.simulador {
  background-image: url("../../images/bg-home-5.png");
  background-repeat: no-repeat;
  background-position: left 80px;
}

section.simulador .card {
  display: flex;
  justify-content: center;
  padding: 10px 60px;
  min-height: 218px;
}

section.simulador .card.two {
  display: flex;
  justify-content: center;
  padding: 10px 50px !important;
  min-height: 130px;
}

section.agende {
  background-image: url("../../images/bg-contato-right.png"), url("../../images/bg-contato-left.png");
  background-repeat: no-repeat;
  background-position: left 105px, right 105px;
}

section.agende .card {
  padding: 10px 80px;
  background: #E3E3E3;
}

section.agende .card p {
  color: var(--dark);
}

.container-2{
  padding-right: 70px !important;
    padding-left: 233px !important;
}

/* Media */
@media (max-width: 1700px) {
  .container-2{
    padding-right: 40px !important;
    padding-left: 220px !important;
  }
}

@media (max-width: 1500px) {
  .container-2{
    padding-right: 50px !important;
    padding-left: 159px !important;
  }
}
@media (max-width: 1363px) {
  .container-2{
    padding-right: 40px !important;
    margin-top: -50px;
  }
}
@media (max-width: 1250px) {
  section.banner, section.simulador, section.agende {
    background-image: none;
  }
  section.banner img {
    margin-top: 0 !important;
  }
  section.banner .card, section.banner .card2 {
    margin-right: 0;
  }
  section.simulador img {
    position: relative !important;
    top: 20px !important;
  }
  section.simulador .card {
    padding: 30px;
  }
  section.clientes .altura {
    padding: 30px 0;
  }
  section.agende .card {
    padding: 30px;
  }
}
